h1 {
   
  padding-right: 25px;
}

.container{
 background-color: rgb(255, 255, 255);
  text-align: left;
 
}
.Collapsible {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
}
p{
  font-size: 20px;
  right: 150px;  
}
th{
  text-align: center;
padding-right:2px;


}
table{
border: 5px solid #000000;


}
tr{
    font-size: 40px;
    

  text-align: center;
}